<form action="/comments" accept-charset="UTF-8" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <textarea id='comment' name="comment[comment]" placeholder="Add a public comment..." rows=1 cols=30 required></textarea>
      <input type="hidden" name="comment[recipe_id]" id="recipe_id" value=<%=@recipe.id%>>
      
      <div class="actions">
            <input type="button" id="clear_button" value="Clear" onclick="clearCommentArea()"> 
            <input type="submit" name="commit" value="Comment" data-disable-with="Comment">
      </div>
</form>