<form action="/comments" accept-charset="UTF-8" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <textarea id='comment' name="comment[comment]" rows=1 cols=30></textarea>
      <input type="text" name="comment[recipe_id]" id="recipe_id" value=<%=@recipe.id%> hidden>
      
      <div class="actions">
            <input type="submit" name="commit" value="Create Comment" data-disable-with="Create Comment">
      </div>
      <input type="button" id="clear_button" value="Clear" onclick="clearCommentArea()"> 
      <input type="button" id="comment_button" value="Submit" onclick="submitComment()"> 
</form>