<form action="/recipes" accept-charset="UTF-8" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div id="leftColumn"> 
        <div id="ImageUpload">
            <input type="file" id="img" name="img" accept="image/*">
        </div>
        <h3>Instructions</h3>
        <div>
            <a class="add_fields" data-id="24200" data-fields="<div class=&quot;nested-fields&quot;>        <input type=&quot;hidden&quot; value=&quot;false&quot; name=&quot;recipe[steps_attributes][24200][_destroy]&quot; id=&quot;recipe_steps_attributes_24200__destroy&quot; />        <div>            <input type=&quot;text&quot; name=&quot;recipe[steps_attributes][24200][instruction]&quot; id=&quot;recipe_steps_attributes_24200_instruction&quot; />            <a class=&quot;remove_fields&quot; href=&quot;#&quot;>Remove Step</a>        </div></div><!-- nested fields -->" href="#">Add Step</a>
        </div>
        <br>
        <%= link_to 'Back', recipes_path %>
    </div>
    <div id="rightColumn">
        <input type="text" name="recipe[name]" id="recipe_name" placeholder="Enter Recipe Title" autocomplete="off">
        <h2>Description<h2>
        <input type="textarea" name="recipe[description]" id="recipe_description">

        <input type="text" name="recipe[preptime]" class="recipe_meta_data" id="recipe_preptime" placeholder="Enter Preptime" autocomplete="off">

        <input type="text" name="recipe[cooktime]" class="recipe_meta_data" id="recipe_cooktime" placeholder="Enter Cooktime" autocomplete="off">
        
        <input type="text" name="recipe[serving]" class="recipe_meta_data" id="recipe_serving" placeholder="Enter Serving" autocomplete="off">
        <div class="actions">
            <input type="submit" name="commit" value="Create Recipe" data-disable-with="Create Recipe">
        </div>
    </div>

  
</form>

