<div id="SideNav">
    <%= link_to "Saved Pantry", account_path%>
    <%= link_to "Saved Recipes", account_recipes_path%>
    <%= link_to "Edit Account", account_edit_path%>
</div>

<%# this will be the area to the right, as the user clicks the buttons the styles
    will updated from display: none to display: block or something. This can be done using
    javascript %>
<div id="MainContent">
    <h1>Saved Pantry</h2>

    <div id="SavedPantry" class="BasicContainer">

    </div>
</div>