<div id="SideNav">
    
</div>

<%# this will be the area to the right, as the user clicks the buttons the styles
    will updated from display: none to display: block or something. This can be done using
    javascript %>
<div id="MainContent">
    <h1>Accountpage</h2>
    
    <div id="SavedRecipes" class="BasicContainer">

    </div>

    <div id="SavedPantry" class="BasicContainer">

    </div>

    <div id="EditProfile" class="BasicContainer">

    </div>
</div>