<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body, html {
            height: 100%;
            margin: 0;
        }
        .text {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .image {
            height: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }
    </style>
</head>
<body>
    <div class="image">
        <img id="LandingPageBackground" src="<%= asset_path('brooke-lark-kXQ3J7_2fpc-unsplash.jpg')%>">
        <div class="text"><h1 style="font-size:100px">Let's Get Cooking</h1></div>
    </div>
</body>
</html>