<form action="/units" accept-charset="UTF-8" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div class="field">
    <label for="unit_name">Name</label>
    <input type="text" name="unit[name]" id="unit_name">
  </div>

  <div class="field">
    <label for="unit_abreviation">Abreviation</label>
    <input type="text" name="unit[abreviation]" id="unit_abreviation">
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Create Unit" data-disable-with="Create Unit">
  </div>
</form>