/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap"; 
@import "toastr/toastr";

* {
    margin: 0;
}

// Navbar Styles
nav {
    background-color: #FFBC39;
    height: 10vh;
}

nav a, a:hover{
    color: white;
    font-size: 20px;
    background-color: transparent;
}

.whiteNavLink {
    color: white !important;
    font-weight: bold;
}

#NavbarIcon {
    height: 9vh;
}

#NavSearchBar{
    margin-right: 5vw !important;
    display: flex;
    width: 40vw;
}

#NavSearchBar input{
    border-radius: 25px;
}

#NavSearchBar button{
    margin-left: -85px;
    border-radius: 25px;
    background-color: white;
}

#NavSearchBar button:hover{
    background-color: rgb(2, 177, 2);
}

#RegisterLoginSection{
    margin-right: 2vw;
    color: white;
}

#RegisterLoginSection a{
    color: white;
}

.login_image {
    overflow: hidden;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#LoginPageBackground{
    width: 100vw;
    display: cover;
}

.field {
    margin-top: 30px;
}

.login_box {
    text-align: center;
    color: #FFBC39;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 500px;
    border: 15px;
    border-radius: 30px;
    padding: 50px;
    margin: 20px;

    h2 {
        font-weight: bold;
        font-size: 70px;
    }

    label {
        font-weight: bold;
    }
}

#ProfileIcon{
    width: 60px;
}

// Acount Page styles
#SideNav {
    width: 22vw;
    height: 90vh;
    background-color: grey;
    margin: 0;
    position: absolute;
}

#MainContent {
    width: 78vw;
    height: 90vh;
    background-color: lightblue;
    right: 0;
    margin: 0;
    position: absolute;
}

.BasicContainer{
    background-color: lightcoral;
    width: 90%;
    height: 82%;
    margin: 50px auto;
    border-radius: 20px;
}

#SavedRecipes{
    display: none;
}

#SavedPantry{
     display: none;
}