// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
  }
  

  .container{
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    max-width: 1500px;
    /* // padding-left: 3%;
    // padding-right: 3%; */
    margin: 0;
  }

//   h1{
//     font-size: 100px;
//     line-height: 1;;
// }
// h2{
//     background-color:#F0E68C;
// }
// h1,h2{
//     font-family: 'Caveat', cursive;
//     font-weight: 400;
//     margin:0;
// }
/* img{
    width:450px;
    height: 450px;
    
    padding: 30px;
    

} */

.carousel-item{
    height: 500px;
    
}

.carousel-inner
{ height: 500px;
    
    font-size: 25px;
   
}
 
  
  
  
  .title {
    color: grey;
  }


    .contact-list{
        text-align: center;
        justify-content: center;
        padding:5px;
        background: #DCDCDC;
        color: #F7FFF7;
        margin: 0;
  padding: 0;
        
    
    }