// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.RecipeShow{
    display: flex;
    min-height: 85vh;
}

#NewRecipe{
    display: flex;
    width: 100vw;
    height: auto;
}

.leftColumn {
    width: 40vw;
    height: auto;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .ShowImage{
        margin: 10vh;
        margin-bottom: 5vh;
        height: 50vh;
        img {
            width: 100%;
            height: 100%;
            border: 1px lightgray solid;
        }
    }
}

.rightColumn {
    width: 60vw;
    height: auto;
    right: 0;
    display: flex;
    padding-top: 10vh;
    padding-right: 3vw;
    flex-direction: column;
    hr {
        background-color: black;
        height: 1px;
    }
}

#ImageUpload{
    height: 50vh;
    width: 70%;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

#ImageUpload input{
    margin: auto;
}

#rightColumn input{
    margin-bottom: 2vh;
}

input {
    border-radius: 5px;
    border: hidden;
    border-bottom: 2px solid rgba(211, 211, 211, 0.616);
    border: 1px solid rgb(202, 202, 202);
}

#recipe_name {
    font-size: 50px;
    margin-bottom: 3vh;
    width: 95%;
}

.recipe_meta_data{
    width: 30%;
}

#newRecipeSubmit{
    position: relative;
    bottom: 0;
    width: min-content;
    margin: 2.5vh 10vw 5vh 47.5vw;
    background-color: #FFBC39;
    border: hidden;
    color: white;
    width: 156px;
    height: 50px;
    border-radius: 25px;
    
}

#recipe_description{
    width: 95%;
    height: 28.5vh;
}

#addInstructionsContainer {
    input {
        height: 7.5vh;
        width: 95%;
    }

    .remove_fields {
        position: relative;
        right: 0;
        margin-top: -50px;
    }
}

#CommentSection{
    width: 80vw;
    margin: 20px auto;

    
    h2 {
        font-size: 50px;
        display: flex;
        align-items: center;
        a {
            color: white;
            display: flex;
            align-items: center;
            background-color: #FFBC39;
            border: hidden;
            width: 200px;
            height: 40px;
            border-radius: 25px;
            margin: auto 20px;
            
            p {
                margin: auto;
                font-size: 20px;
                text-align: center;
                font-weight: bold;
            }
        }

        a:hover{
            background-color: #e69900;
            text-decoration: none;
        }
    }

    #CommentActions{
        display: flex;
        input {
            width: 156px;
            height: 40px;
            border-radius: 25px;
            bottom: 0;
            font-size: 25px;
        }
        
        #ClearComment{
            margin-left: 80%;
            background-color: white;
            color: #FFBC39;
            border: #FFBC39 solid 1px;
        }
        
        #SubmitComment {
            background-color: #FFBC39;
            color: white;
            border: hidden;
        }
    }

    .CommentBox{
        margin-top: 25px;
        border-bottom: 1px lightgray solid;
    
        // username
        .CommentTitle { 
            display: flex;
            margin-bottom: 20px;
            align-items: center;
            height: auto;
            h3 {
                font-size: 20px;
                font-weight: bold;
                margin: auto 0;
            }

            p {
                color: grey;
                margin: auto 0;
                margin-left: 10px;
            }
        }
    
        div{
            display: flex;
            width: 100%;
            height: 25px;
            
            .LikeInfo {
                color: rgb(133, 133, 133);
            }
            
            img{
                cursor: pointer;
            }

            .ThumbsUp{
                width: 20px;
                border: hidden;
                margin: auto 100%;
            }
        }
    }
}



#commentinput, #commentinput:focus-visible{
    border: hidden;
    border-bottom: 1px solid lightgray;
    width: 100%;
    outline: transparent;
}
        
#SearchResults{
    display: flex;
    // add item spacing
}

.RecipeCard{
    width: 20vw;
    height: 40vh;
    background-color: grey;
    border-radius: 15px;
    overflow: hidden;

    img {
        height: 100%;
    }

    .RecipeCardData{
        height: 100%;
        margin-top: -100%;
        padding-left: 20px;
        padding-top: 30px;;
        z-index: 100;
        text-align: center;
    }

    h2{
        color: white;
        font-size: 60px;
        font-weight: bold;
    }

    
}

.CardMetaData{
    background-color: rgb(223, 223, 223);
    width: 100%;
    height: 30px;
    margin-top: 70%;
    text-align: center;

    p{
        background-color: white;
        color: white;
        font-size: 15px;
    }
}

.ShowName{
    p {
        font-size: 50px;
        font-weight: bold;
        text-align: center;
    }
}

.ShowDetails{
    text-align: center;
    font-size: 30px;
    display: flex;
    margin-bottom: 1vh;
    margin-top: 3vh;
    p {
        width: 100%;
        font-size: 23px;
    }
}

.ShowDescription{
    min-height: 30vh;
}

.ShowComments{
    margin: 10vh;
    margin-top: 5vh;
}

#printerIcon, #FilledHeartIcon, #EmptyHeartIcon{
    width: 30px;
    cursor: pointer;
    position: absolute;
    left: 0;
    margin-left: 30px;
    border: hidden;
}

#printerIcon{
    margin-top: 25vh;

}

#FilledHeartIcon, #EmptyHeartIcon{
    margin-top: 30vh;
}


.RecipeRightTopHalf{
    height: 50vh;
    margin-bottom: 5vh;
}

.RecipeShowIngredients{
    text-align: left;
    width: 75%;
}